# data (do not commit raw Transkribus exports)
data/raw/

# environment / secrets
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store


.vscode/


notebooks/2204941/
notebooks/foo/
notebooks/heresies_01_pagexml*