# data (do not commit raw Transkribus exports)
data/

# environment / secrets
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/

# Virtual environments
.venv*/
